FirstSamplesolution/2.0.UIProcess/Connected Services/ProfessionsServiceReference/ProfessionsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfessionsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IProfessionsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/FirstSampleSolution.ServiceHost/Administration/ProfessionsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/FirstSampleSolution.ServiceHost/Administration/ProfessionsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/FirstSampleSolution.ServiceHost/Administration/ProfessionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfessionsService_CreateProfession_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProfession" />
  </wsdl:message>
  <wsdl:message name="IProfessionsService_CreateProfession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProfessionResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessionsService_GetProfessionsSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfessionsSummary" />
  </wsdl:message>
  <wsdl:message name="IProfessionsService_GetProfessionsSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfessionsSummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfessionsService">
    <wsdl:operation name="CreateProfession">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessionsService/CreateProfession" message="tns:IProfessionsService_CreateProfession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessionsService/CreateProfessionResponse" message="tns:IProfessionsService_CreateProfession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfessionsSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessionsService/GetProfessionsSummary" message="tns:IProfessionsService_GetProfessionsSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessionsService/GetProfessionsSummaryResponse" message="tns:IProfessionsService_GetProfessionsSummary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfessionsService" type="tns:IProfessionsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateProfession">
      <soap:operation soapAction="http://tempuri.org/IProfessionsService/CreateProfession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfessionsSummary">
      <soap:operation soapAction="http://tempuri.org/IProfessionsService/GetProfessionsSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IProfessionsService" type="tns:IProfessionsService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IProfessionsService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateProfession">
      <soap:operation soapAction="http://tempuri.org/IProfessionsService/CreateProfession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfessionsSummary">
      <soap:operation soapAction="http://tempuri.org/IProfessionsService/GetProfessionsSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfessionsService">
    <wsdl:port name="BasicHttpBinding_IProfessionsService" binding="tns:BasicHttpBinding_IProfessionsService">
      <soap:address location="http://localhost/FirstSampleSolution.ServiceHost/Administration/ProfessionsService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IProfessionsService" binding="tns:BasicHttpsBinding_IProfessionsService">
      <soap:address location="https://laptop-crivero/FirstSampleSolution.ServiceHost/Administration/ProfessionsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>