FirstSamplesolution/2.0.UIProcess/Connected Services/ProfessionsServiceReference/ProfessionsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/FirstSampleSolution.ServiceHost/Administration/ProfessionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntities" />
  <xs:element name="CreateProfession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntities" minOccurs="0" name="profession" nillable="true" type="q1:Profession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProfessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionsSummary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessEntities" minOccurs="0" name="GetProfessionsSummaryResult" nillable="true" type="q2:ArrayOfProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>