FirstSamplesolution/1.UserInterface/WebUserInterface/Connected Services/ProfessionsServiceReference/ProfessionsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Profession">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfessionId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profession" nillable="true" type="tns:Profession" />
  <xs:complexType name="ArrayOfProfession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Profession" nillable="true" type="tns:Profession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfession" nillable="true" type="tns:ArrayOfProfession" />
</xs:schema>