FirstSamplesolution/2.0.UIProcess/Connected Services/PersonsServiceReference/PersonsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IPersonsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/FirstSampleSolution.ServiceHost/Administration/PersonsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/FirstSampleSolution.ServiceHost/Administration/PersonsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/FirstSampleSolution.ServiceHost/Administration/PersonsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonsService_CreatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePerson" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_CreatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_FindPersonsSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPersonsSummary" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_FindPersonsSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPersonsSummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonsService">
    <wsdl:operation name="CreatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/CreatePerson" message="tns:IPersonsService_CreatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/CreatePersonResponse" message="tns:IPersonsService_CreatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindPersonsSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/FindPersonsSummary" message="tns:IPersonsService_FindPersonsSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/FindPersonsSummaryResponse" message="tns:IPersonsService_FindPersonsSummary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonsService" type="tns:IPersonsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePerson">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/CreatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPersonsSummary">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/FindPersonsSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IPersonsService" type="tns:IPersonsService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IPersonsService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePerson">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/CreatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPersonsSummary">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/FindPersonsSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonsService">
    <wsdl:port name="BasicHttpBinding_IPersonsService" binding="tns:BasicHttpBinding_IPersonsService">
      <soap:address location="http://localhost/FirstSampleSolution.ServiceHost/Administration/PersonsService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IPersonsService" binding="tns:BasicHttpsBinding_IPersonsService">
      <soap:address location="https://laptop-crivero/FirstSampleSolution.ServiceHost/Administration/PersonsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>